
.pio/
.vscode/
*.bin
*.elf
*.o
*.d

src/secrets.h
**/secrets.h

**/android/app/google-services.json

**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.packages